PATH_add /home/ajs17/Dropbox/business/code/hugo/hugo-utilities
PATH_add /home/ajs17/Dropbox/business/code/hugo/hugo-utilities/booktranscriber
export HUGO_MODULE_REPLACEMENTS="github.com/ajsmith607/undergo -> $HOME/Dropbox/business/code/hugo/undergo" 
