.killer-container svg {
    background-color: white;
    fill: none;
    stroke: black;
    stroke-linecap: round; 
    stroke-linejoin: round; 
}
.killer-container polygon { stroke-width: 1; }
.killer-container .med { stroke-width: .25; }
.killer-container .thin { stroke-width: .125; }
.killer-container .superthin { stroke-width: .06125; }
.killer-container .red { stroke: red; }
.killer-container .pentagonfill { fill: black; }
.killer-container .pentagramfillblack { stroke-width: 0; fill: black; }
.killer-container .pentagramfillwhite { stroke-width: 0; fill: white; }
